body {
	background: #9ED490;
	color: #2E332D;
	font-family: 'Arial', sans-serif;
	font-size: 14px; 
}

#container {
	width: 60%;
	background: #7485E8;
	margin: 20px auto;
	padding: 25px;
}

header {
	text-align: center;
	border-bottom: #fff dashed 1px;
}

header h1 {
	margin: 0;
	padding: 0;
}

header p {
	padding: 0;
	margin-top: 5px;
	color: #000;
}

section {
	min-height: 400px;
}

footer {
	text-align: center;
}

input[type='submit']{
	background: #9ed490;
	border:0;
	color:#2E332D;
	padding:10px 15px;
	font-weight:bold;
	cursor:pointer;
}
/*
#results h3{
	background:#9ed490;
	padding: 10px;
	margin: 10px 0;
}

#results span{
	color:#000;
	font-weight:bold;
}
*/